/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    h1 {
        font-size: 4rem;
        padding: 2rem 4rem 2.4rem;
        margin: 3rem;
    }

    h4 {
        margin: 2rem 4rem;
        padding: 1rem;
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}